@import "tailwindcss";
@import "./theme.css";



.contenedor__h1 {
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  color: var(--color-primary);
  text-align: center;
}

.contenedor__h2 {
  font-family: var(--heading-h2-font-family);
  font-size: var(--heading-h2-font-size);
  font-style: var(--heading-h2-font-style);
  font-weight: var(--heading-h2-font-weight);
  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);
  color: var(--color-secondary);
}

.contenedor__large-text {
  font-family: var(--text-large-font-family);
  font-size: var(--text-large-font-size);
  font-style: var(--text-large-font-style);
  font-weight: var(--text-large-font-weight);
  letter-spacing: var(--text-large-letter-spacing);
  line-height: var(--text-large-line-height);
  color: var(--color-text);
  color: var(--color-primary);
  text-align: center;
}

.contenedor__foto {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 16px;
  width: 250px;
  margin: auto;
}

.text_red {
  color: red;
}
